img {
    vertical-align: middle;
    margin-right: 8px;
    width: 35px;
    height: 45px;
    object-fit: contain;
}

mat-icon {
    cursor: pointer;
}

table {
    width: 100%;
    margin-bottom: 2rem;
}